In [2]:
import pandas as pd

venda = {'data':[ '26/07/22', '27/07/22'],
         'valor':[500,300],
         'produto':['feijao','arroz'],
         'qtd':[50,70],
        }

vendas_df = pd.DataFrame(venda)

In [4]:
display(vendas_df)

       data  valor produto  qtd
0  26/07/22    500  feijao   50
1  27/07/22    300   arroz   70

In [7]:
vendas_df = pd.read_excel("Introdução ao Pandas no Python/Vendas.xlsx")